
<div class="cos">
<h1 id="ciphers_font">Inbox </h1>
<div class="about">
  <p id="pic"><img src="../../images/messages.png" width="300" height="auto"></p>
  <div id="about_cipher">
    <p>Here you can check your messages!</p>
</div>
</div><br><br>
<div id="messages"></div><br>
  {{success_msg}}
  {{#if message_list}}
    {{#each message_list}}
    <div class="container">
      <label>From:</label><br>
      <input readonly name="from_user" value="{{from_user}}"></input><br><br>
      <label>Cipher:</label><br>
      <input readonly name="cipher" value="{{cipher}}"></input><br><br>
      <label>Shift/Keyword:</label><br>
      <input id="param{{_id}}" readonly name="param" value="{{param}}"></input><br><br>
      <label>Message:</label><br>
      <textarea id="message{{_id}}" readonly rows="4" name="message_ciphered">{{message_ciphered}}</textarea>
      <input type="button" value="Decode" onclick ="decode_mail('{{_id}}')"><br><br>
      <label id="output_name">Decoded message:</label><br>
      <textarea id="output{{_id}}" rows="4" readonly></textarea><br>
      <!--<form action="/dashboard/inbox" method="post" if-match="*">
        <input type="hidden" id="id{{_id}}" name="id" value="{{_id}}">
        <input type="submit" value="Delete"><br><br>
      </form> -->

      <script type ="text/javascript" src ="../scripts/{{cipher}}.js"></script>
    </div><br><br><br>
    {{/each}}
    {{else}}
      <div class="container">
        <p>You have no messages.</p>
      </div><br><br><br>
    {{/if}}

</div>
<br><br><br><br>
